# .gitignore
# Environment files
.env
*.env

# Node dependencies
node_modules/
npm-debug.log

# Build output
dist/
build/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/
*.pkl

# OS-specific
.DS_Store

# IDE
.vscode/
.idea/

uploads/
